body {
  margin-top: 10mm;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/36/09/a5/3609a58f09f1c9c87fea4cf875b564b7.gif');
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: fixed;
}

code {
font-family: 'calibri';
}
