.h2 {
  font-family: Calibri;
  font-size: 18px;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
  color: white;
  margin: 1mm;
}

.h2Rat {
  font-family: Calibri;
  font-size: 16px;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
  color: white;
  margin: 1mm;
}

.div {
  margin-top: 10mm;
  border-radius: 10px;
  display: flex;
  width: 280px;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid rgb(104, 0, 0) 0.5mm;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1mm 1mm 1mm 1mm;
}

.nameid {
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: rgb(104, 0, 0);
  position: relative;
  background-color: rgba(0, 0, 0, 0.45);
  font-family: Calibri;
  font-size: 18px;
  margin-top: -9mm;
  border-radius: 10px;
  padding: 1mm;
}

.img {
  margin-top: 0.5mm;
  border-radius: 10px;
  height: 170px;
  width: 280px;
}

/* Estilo para enlaces no visitados */
a {
  color: transparent;
  text-decoration: none; /* Para quitar el subrayado predeterminado */
}

/* Estilo para enlaces visitados */
a:visited {
  color: transparent;
}

/* Estilo para enlaces al pasar el ratón */
a:hover {
  color: red;
}

/* Estilo para enlaces activos (cuando se hace clic en ellos) */
a:active {
  color: transparent;
}
