.div{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.h1{
    font-size: 70px;
    font-weight: bolder;
    font-family: Calibri;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
    color: white;
    margin-top: -10px;
}

.p{
    font-size: 25px;
    font-weight: bolder;
    font-family: Calibri;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: white;
    margin-top: -10px;
}

.button{
    background-image: url('https://w7.pngwing.com/pngs/977/162/png-transparent-video-game-game-controllers-gaming-miscellaneous-game-logo.png');
    background-repeat:no-repeat;
    background-size:100%;
    filter: brightness(0.8);
    color: black;
    border: solid 1mm rgba(223, 40, 40, 0.866);
    border-radius: 20mm;
    width: 30mm;
    height: 30mm;
    margin-top: -20px;
}